{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Lista restauracji</title>
    <link rel="stylesheet" href="{% static 'restaurants/restaurant_list.css' %}">
</head>
<body>

    <h1>Restauracje</h1>

    <div class="filter-container">
        <div class="filter-form">
            <form method="get">
                <input type="text" name="search" placeholder="Szukaj po nazwie">
                <select name="sort">
                    <option value="asc">Sortuj A-Z</option>
                    <option value="desc">Sortuj Z-A</option>
                </select>
                <button type="submit">Filtruj</button>
            </form>
        </div>

        <div class="nearby-link">
            <a href="{% url 'nearby_restaurants' %}">
                <button type="button">Znajdź restauracje w pobliżu</button>
            </a>
        </div>
    </div>


    <hr>

    {% if restaurants %}
        <ul>
            {% for restaurant in restaurants %}
                <li>
                    <div class="restaurant">
                        <h2>
                            <a href="{% url 'restaurant_detail' restaurant.pk %}">
                                {{ restaurant.name }}
                            </a>
                        </h2>
                        <p><strong>Średnia ocen:</strong> {{ restaurant.average_rating|floatformat:1 }}/5.0</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Brak restauracji.</p>
    {% endif %}

</body>
</html>
