{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Lista restauracji</title>
    <link rel="stylesheet" href="{% static 'restaurants/restaurant_list.css' %}">
</head>
<body>

    <h1>Restauracje</h1>

    <div class="filter-container">
        <form method="get" class="filter-form" action="{% url 'restaurant_list' %}">
            <input type="text" name="search" placeholder="Szukaj po nazwie restauracji" value="{{ request.GET.search }}">
            <input type="text" name="menu_search" placeholder="Szukaj po typie kuchni" value="{{ request.GET.menu_search }}">
            <select name="sort">
                <option value="asc" {% if request.GET.sort == 'asc' %}selected{% endif %}>Sortuj A-Z</option>
                <option value="desc" {% if request.GET.sort == 'desc' %}selected{% endif %}>Sortuj Z-A</option>
            </select>

            
            <input 
                type="range" 
                id="distanceRange" 
                name="distance" 
                min="0" 
                max="20" 
                value="{{ request.GET.distance|default:"" }}" 
                oninput="updateDistance()"
            >
            <label for="distanceRange">
                <strong><span id="distanceValue">{{ request.GET.distance|default:"5" }}</span></strong> km
            </label>
            <button type="submit">Filtruj</button>
        </form>
    </div>


    <hr>

    {% if restaurants %}
        <ul>
            {% for restaurant in restaurants %}
                <li>
                    <div class="restaurant">
                        <h2>
                            <a href="{% url 'restaurant_detail' restaurant.pk %}">
                                {{ restaurant.name }}
                            </a>
                        </h2>
                        <p><strong>Średnia ocen:</strong> {{ restaurant.average_rating|floatformat:1 }}/5.0</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Brak restauracji.</p>
    {% endif %}

    <script>
        function updateDistance() {
            const slider = document.getElementById("distanceRange");
            const output = document.getElementById("distanceValue");
            output.textContent = slider.value;
        }

        function submitForm() {
            document.getElementById("filterForm").submit();
        }

        // Ustaw od razu wartość przy ładowaniu strony (na wszelki wypadek)
        document.addEventListener("DOMContentLoaded", function() {
            updateDistance();
        });
    </script>
</body>
</html>

